

.nav-list {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-left: auto;
    line-height: 7.7rem;
    margin-right: 5rem;
    color: $white-color;

    ul {

        li {
            margin: 0 1rem;
            position: relative;
            display: inline-block;
            cursor: pointer;    
            @include activeClass;
        }

        a {
            color: $white-color;
            text-decoration: none;
       
        }
    }
}

.link {
    display: block;
   }