*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: $primary-color;

}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 200rem;
    margin: auto;
}

